---
import Layout from "../layouts/Layout.astro";

import Dashboard from "../components/Dashboard";
import OrganizationSchema from "../components/schema/OrganizationSchema.astro";
import ItemListSchema from "../components/schema/ItemListSchema.astro";
import data from "../data/tools.json";
import overworldData from "../data/overworld.json";
import endData from "../data/end.json";
import netherData from "../data/nether.json";

// Load all tools from all categories
const allTools = [];
for (const category of data.tools) {
    if (category.source === 'auto') {
        continue;
    } else if (category.content) {
        allTools.push(...category.content);
    } else if (category.file === 'overworld.json') {
        allTools.push(...overworldData);
    } else if (category.file === 'end.json') {
        allTools.push(...endData);
    } else if (category.file === 'nether.json') {
        allTools.push(...netherData);
    }
}
---

<Layout
  site="机器地图"
  title="机器地图"
  tagline="搜索你需要的机器或物品"
  showSearch={true}
>
  <OrganizationSchema />
  <ItemListSchema items={allTools} listName="机器地图 - 所有物品" />
  <main id="main-content">
    <Dashboard client:load category="all-worlds" transition:persist />
  </main>
</Layout>
